.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  padding-top: 28px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  color: #EBD8FF;
  background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.containerWrapper {
  position: relative;
  top: -18px;
  display: flex;
  justify-content: center;
  width: 123.5%;
}

.rectangle {
  position: absolute;
  height: 8px;
  top: 50%;
  width: 100%;
  box-shadow:
    0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #AE7BE3,
    inset 0px 3.43693px 2.5777px #FBF8FF;
  background-color: #EBD0FF;
}

.outerCircle {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow:
    0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #AE7BE3,
    inset 0px 4.39163px 3.29372px #FBF8FF;
  background-color: #EBD8FF;
}

.innerCircle {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -34px 0px 0px -34px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  box-shadow: 0px -2.19582px 4.39163px #AE7BE3;
  background: #5736A3;
}

.avatar {
  width: 70px;
  height: 70px;
}


.text {
  margin-top: 8px;
}

.text:last-of-type {
  margin-top: 16px;
}